# Database Configuration
POSTGRES_USER=account
POSTGRES_PASSWORD=account
POSTGRES_DB=account_db

# Flask Configuration
FLASK_DEBUG=1
SECRET_KEY=grids-micro-account-secret-key-2026

# Node Configuration
NODE_ENV=development
API_URL=http://web:5000
